.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}
