.App {
  text-align: center;
}

.contains {
  display: flex;
}

.ceil {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: bold;
}
