body {
    background-color: black;
    margin: 0px;
}

.content {
    background-color:transparent;
    width: 600px;
    height: 150px;
    margin: 250px auto;
    display: flex;
}

.white_word {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 7vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}

.black_word {
    align-items: center;
    background-color: #FF9900;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 7vw;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 1vw;
}